[user]
	name = lishengshang
	email = 3490017805@qq.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = *
# [url "https://gh-proxy.com/https://github.com/"]
# 	insteadOf = https://github.com/
# [url "https://github.com/"]
# 	pushInsteadOf = https://github.com/
