layout{
    focus-ring{
        active-gradient from="#ffb599cc" to="#d4c78ecc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#423733"
        urgent-color "#ffb4ab"
    }
}
