layout{
    focus-ring{
        active-gradient from="#ffb4a4cc" to="#dbc48ccc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#423734"
        urgent-color "#ffb4ab"
    }
}
