layout{
    focus-ring{
        active-gradient from="#b7d9ffcc" to="#f5c6fecc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#37393c"
        urgent-color "#ffb4ab"
    }
}
