[Unit]
Description=每 8 分钟切换 API 随机壁纸

[Timer]
OnBootSec=8min
OnUnitActiveSec=8min
Unit=random-api-wallpaper.service

[Install]
WantedBy=graphical-session.target
